modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 33347
externalPort = 3001

[[ports]]
localPort = 33637
externalPort = 3002

[[ports]]
localPort = 40067
externalPort = 3000

[[ports]]
localPort = 42517
externalPort = 3003
